* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 1.5%;
  min-height: 95vh;
  background-color: darkgreen;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 8fr 1fr;
  grid-template-areas:
    "header header header header header"
    "nav main main main main"
    "footer footer footer footer footer";
  gap: 1em;
}

body > * {
  background: linear-gradient(
    215deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(159, 209, 183, 1) 55%,
    rgba(187, 250, 160, 1) 100%
  );
  border-radius: 20px;
  padding: 1.85%;
  margin: 0px;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

header h1 {
  font-size: 3.75rem;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  color: green;
  margin-right: auto;
  text-transform: uppercase;
}

nav {
  grid-area: nav;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  overflow: auto;
  align-content: center;
  min-height: 0;
}

nav::-webkit-scrollbar {
  display: none;
}

.icon-common {
  width: 90px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 0.6s ease;
}

.icon-common:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 1%;
}

.transaction-card {
  background: linear-gradient(
    90deg,
    #ffd700 0%,
    #ffc300 25%,
    #ffb000 50%,
    #cc9900 75%,
    #ffd700 100%
  );
  height: 60vh;
  width: 24vw;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}

.transaction-card:hover {
  transform: scale(1.02);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.transaction-card img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.transaction-card h2 {
  padding: 0px;
  margin: 0px;
  color: darkgoldenrod;
  font-size: 1.8rem;
  text-transform: uppercase;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  text-transform: uppercase;
  color: green;
}

footer h2:first-child {
  margin-right: auto;
}
